{
  "rules": {
    "global-strict": [2, "never"],

    "no-extra-parens": 0
  },
  "env": {
    "browser": true,
    "node": false,
    "amd": true,
    "jasmine": true
  },
  "globals": {
    "_": false,
    "React": false,
    "requirejs": false
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}