@import '../main/global';

.cards-list {
    border: $white 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow: scroll;
    margin-top: 0.5rem;
    width: 15rem;
}
