@import '../main/global';

.cards-list {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 0.5rem;
    width: 15rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 9px;

    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;

    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $dark-green;

    }

}



.cards-list:hover {
    opacity: 1;
}

.empty-state {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}

.empty-state-action {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: $white;
    background: $hot-pink;
    cursor: pointer;
}
