@import '../main/global';

.cards-list {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow: scroll;
    margin-top: 0.5rem;
    width: 15rem;
}

.cards-list:hover {
    opacity: 1;
}

.empty-state .caption {
    color: $light-red;
    cursor: pointer;
    font-weight: bold;
}

.empty-state .caption:hover {
    color: $light-green;
}
