# Created by .ignore support plugin (hsz.mobi)

.idea
node_modules
coverage
src/vendor/**
build
**/.DS_Store
src/js/components/**/*.js
src/stylesheets/**/*.css
src/js/playground.js
src/js/main.js
dist