
.left {
    float:left;
}

.right {
    float:right;
}


.home-view-container {
    clear: both;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 20px;
}

.arrow:hover {
    cursor: pointer;
}

.backwards {
    border-width: 10px 20px 10px 0;
    border-color: transparent black transparent transparent;
}

.forward {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent black;
}

.main-view-buttons-container {
    text-align: center;
}

.main-view-btn {
    background-image: linear-gradient(to bottom, #F0F0F0, #D0D0D0);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 3px;
}

.main-view-btn:hover {
    background: #3cfc8f;
    text-decoration: none;
}

.main-view-btn-lock {

}
.clearButton {
    color: red;
}

.edit-sprint {
    display: block;
    margin: 0 auto;
    width: 40rem;
    border: 1px solid #000;
    padding: 2rem;
    margin-top: 1rem;
}

.combo-box-list {
    list-style: none;
    padding: 0;
    width: 8rem;
    border: #999 1px solid;
    margin: 0;
    transition: 0.3s linear all;
}

.combo-box-item {
    padding: 0.1rem 0.5rem;
    overflow: hidden;
}

.combo-box-item:hover {
    background-color: #E2E2FF;
}

.delete-phase {
    float: right;
    color: #fff;
    background-color: #F14B4B;
    padding: 0.1rem 0.33rem;
    border-radius: 50%;
    font-size: 0.7rem;
    cursor: pointer;
}
