
.left {
    float:left;
}

.right {
    float:right;
}


.team-view {
    clear: both;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 20px;
}

.arrow:hover {
    cursor: pointer;
}

.backwards {
    border-width: 10px 20px 10px 0;
    border-color: transparent black transparent transparent;
}

.forward {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent black;
}