@import '../main/global';

.left {
    float: left;
}

.right {
    float: right;
}

.home-view-container {
    clear: both;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 0 20px;
}

.arrow:hover {
    cursor: pointer;
}

.backwards {
    border-width: 10px 20px 10px 0;
    border-color: transparent $white transparent transparent;
}

.forward {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent $white;
}

.home-view-buttons-container {
    text-align: right;
}

.home-view-button {
    @include btn-md($semi-light-green, $light-green, $black);
    margin: 0.5rem 3.7rem;
}

.edit-sprint {
    display: block;
    width: 25rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

    .input-section-field {
        display: inline-block;

        [type='text'] {
            width: 9rem;
            background-color: transparent;
            border: none;
            color: $white;
            border-bottom: solid 2px $white;
            font-size: 1rem;
            font-family: inherit;
            outline: none;
        }

        select {
            @include select-transparent();

            option {
                color: $black;
            }
        }

        .combo-box-list {
            margin-top: 5px;
        }

        .combo-box-item {
            background: transparent;
            color: $white;
            border: none;

            &:hover {
                background-color: $light-blue;
            }
        }
    }
}

.delete-phase {
    float: right;
    color: $white;
    background-color: $light-red;
    padding: 0.1rem 0.33rem;
    border-radius: 50%;
    font-size: 0.7rem;
    cursor: pointer;
}

.input-section {
    margin: 1rem;
}

.input-section-label {
    display: inline-block;
    min-width: 11rem;
    vertical-align: top;
    margin-bottom: 0.5rem;
}

.input-checkbox {
    display: block;
}

.sprint-dates {
    width: 10rem;
    margin: 0 auto;
}

.rightline {
    //margin: 1rem;
    padding: 0 1rem;
}

.beforeline {
    padding: 0 1rem 0 0;
}
