.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    transition: 0.5s linear all;
}

.card-points{
    align-self: flex-end;
    font-size: 0.8rem;
}

.card-open {
    position: relative;
    top: 0;
    z-index: 1;
    transform: scale(1.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.54);
}

.card-delete{
    position:absolute;
    top:2px;
    right:2px;
    visibility: hidden;
}

.card-editable .card-delete{
    visibility: visible;
}

.card-btn-edit{
    visibility: hidden;
    background-image: linear-gradient(to bottom, #ee9090, #DDa0a0);
    position: absolute;
    bottom:2px;
    padding:1px 10px;
    border-radius: 5px;
}

.card-editable .card-btn-edit{
    visibility: visible;
}

