.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    transition: 0.5s linear all;
}

.card-points{
    align-self: flex-end;
}

.card-open {
    position: absolute;
    z-index: 1;
    transform: scale(1.7) rotateY(360deg);;
    font-size: 0.7rem;
}
