.teams-list-enter {
    opacity: 0.01;
}

.teams-list-enter.teams-list-enter-active {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.sidebar-appear {
    opacity: 0.01;
}

.sidebar-appear.sidebar-appear-active {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.teams-list-leave {
    opacity: 1;
}

.teams-list-leave.teams-list-leave-active {
    opacity: 0.01;
    -webkit-transform: translate(-250px);
    -moz-transform: translate(-250px);
    -ms-transform: translate(-250px);
    -o-transform: translate(-250px);
    transform: translate(-250px);
    transition: all 0.5s ease-in;
}