
@import '../main/global';

.matched-member-container {
    background-color: $white;
}

.matched-member:hover {
    background-color: rgba(58, 68, 255, 0.2);
}

.team-management-button {
    &.add-team-button,
    &.add-member-button {
        background-color: $semi-light-green;
    }
}
