.matched-member-container {
  background-color: #ffffff; }

.matched-member:hover {
  background-color: rgba(58, 68, 255, 0.2); }

.team-management-button.add-team-button {
  background-color: #4cae52; }
