
@import '../main/global';

.team-management {
    text-align: center;
    padding: 4rem;
    width: 80%;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 4rem;
    width: 15rem;
}

.teams-selector {
    overflow: hidden;
    margin: 1rem;
}



.team-view {
    display: inline-block;
    text-align: center;
    width: 70%;
}

.team-title {
    margin: 1rem;
}

.team-management-button {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
    width: 10rem;
    height: 1rem;
    vertical-align: middle;
    color: $white;
    border: 1px dashed $semi-transparent-white;

    &.wide {
        width: 8rem;
    }

    &.add-team-button {
        display: block;
        margin: 0 auto;
        border:none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

.team-management-button:hover {
    background: $team-manage-btn;
    text-decoration: none;

    .remove-button {
        visibility: visible;
        opacity: 1;
    }
}

.team-name {
    display: inline-block;
    text-decoration: none;
}

.member-name {
    padding: 0 0.7rem 0.7rem;
    vertical-align: top;
    margin: 0;
    line-height: 20px;
    letter-spacing: 0;
}

.member-profile {
    margin: 0.5rem;
    padding: 0.3rem;
    width: 220px;
    height: 200px;
    border: 2px solid transparent;
    position: relative;
    transition: 0.3s linear all;
}

.member-profile:hover {
    border: 2px dotted;

    > .remove-button {
        visibility: visible;
        opacity: 1;
    }
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    border: 1px transparent solid;
    cursor: pointer;
    background-color: $remove-btn;
    color: $white;
    border-radius: 28px;
    transition: 0.3s linear all;
    visibility: hidden;
    opacity: 0;
}

.team-input {
    display: inline-block;
    width: 5rem;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
}

.member-img {
    height: 150px;
    width: 150px;
    margin: 0.4rem;
    border-radius: 50%;
}

.new-member-profile {
    margin: 0 auto;
    padding: 0.4rem;
    //border: 2px dotted $hot-pink;
    width: 220px;
    height: 200px;
    position: relative;
}

.member-name-input,
.img-url-input {
    text-align: center;
}

.search-bar {
    position: relative;
    width: 10rem;
    margin: 0 auto;
    color: $black;
}

.search-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.search-bar:after {
    content: '\1F50D';
    position: absolute;
    top: 0;
    right: 0;

}

.matched-member {
    list-style-type: none;
    text-align: left;
    margin: 0.2rem;
}

.matched-member-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    height: 6rem;
    overflow: hidden;
    width: 100%;
    border: 1px solid $grey;
}

.matched-member-list {
    width: 100%;
    height: 6rem;
    padding-left: 0;
    margin: 0 auto;
    overflow-y: scroll;
    cursor: pointer;
}

[draggable] {
    cursor: -webkit-grab;
}
