
@import '../main/global';

.board .table-cell {
    border-color: $white;
    background-color: $light-gray;
    color: $dark-gray;
}

.board .table-heading {
    border-color: $white;
    background-color: $semi-dark-gray;
    color: $black;
}

.cards-container-heap-size {
    opacity: 0;
}

.cards-container-heap-size:hover {
    opacity: 0.8;
    background-color: $black;
    color: $semi-dark-gray;
}

