.board .table-cell {
    border-color: #ffffff;
    background-color: #f0f0f0;
    color: #404040;
}

.board .table-heading {
    border-color: #ffffff;
    background-color: #d0d0d0;
    color: #000000;
}

.cards-container-heap-size {
    opacity: 0;
}

.cards-container-heap-size:hover {
    opacity: 0.5;
    background-color: #000;
    color: #d0d0d0;
}

