
.sprint-member img{
    width: 4rem;
    margin: 0 auto;
    display: block;
}

.sprint-head .table-heading{
    padding: 1rem;
}

.sprint-table-wrapper .table-cell{
    max-width: 7rem;
    overflow: hidden;
}
.sprint-table-wrapper {
    display: inline-block;
}
