.sprint-member-cell {
    vertical-align: middle;
}

.sprint-member img {
    width: 4rem;
}

.sprint-member figure {
    text-align: center;
}

.sprint-table-wrapper .table-cell {
    max-width: 7rem;
    /*overflow: hidden;*/
}

.sprint-table-wrapper {
    display: inline-block;
    width: 80%;
}

.board {
    width: 90%;
    margin: 0 auto;
}

.board .table-heading:first-child,
.board .table-cell:first-child {
    width: 8rem;
}

.sprint-cards-container {
    display: flex;
    line-height: 1rem;
    position: relative;
    margin: 0.2rem;
}

.sprint-card-wrapper {
    position: absolute;
    margin: 0;
    pdding: 0;
}

.sprint-card-wrapper .card {
    box-shadow: -0.2rem -0.2rem 0.2rem;
    margin: 0;
}

.sprint-card-wrapper .card:hover {
    z-index: 100;
}

.sprint-velocity {
    width: 16rem;
    margin: 0 auto;
}

.sprint-velocity-title {
    border-bottom: solid #E0DEDE 1px;
    padding-bottom: 0.6rem;
}