
$white: #FFF;
$grey: #999;
$black: #000;

$semi-light-green: #4CAE52;
$light-green: #3CFC8F;
$green: #627D4D;
$dark-green: #1F3B08;

$save-btn: #D0FFD0;
$delete-btn: #FF7978;
$cancel-btn: #FFD0D0;

$btn-grad-start: #EE9090;
$btn-grad-end: #DDA0A0;

$light-black: #404040;

$light-yellow: #FFF5C7;
$light-yellow-hover: #E2D8B0;

$dark-yellow: #DFD15F;
$dark-yellow-hover: #C9BC56;

$orange: #DF9E4E;
$orange-hover: #C88D46;

$light-blue: #D0D0FF;
$light-blue-hover: #BEBEE9;

$purple: #A9AEFF;
$purple-hover: #9A9FE9;

$light-red: #F14B4B;
$red: #F55;
$red-hover: #E14B4B;

$none-color: #CDD2CB;
$none-color-hover: #B9BEB8;

$light-gray: #F0F0F0;
$semi-dark-gray: #D0D0D0;
$dark-gray: #404040;



$grey-grandient-start: #F0F0F0;
$grey-grandient-end: #D0D0D0;


/* Cards Colors */
$card1: #FBFEA2;
$card2: #FF0;
$card3: #FFA500;
$card5: #34FE25;
$card8: #C45CE3;
$card13: #F73EF7;
