
$white: #FFF;
$green: #627D4D;
$dark-green: #1F3B08;
$light-blue: #5B9ED5;
$light-blue-hover: #518BBC;
$black: #000;
$save-btn: #D0FFD0;
$delete-btn: #FF7978;
$cancel-btn: #FFD0D0;
$btn-grad-start: #EE9090;
$btn-grad-end: #DDA0A0;
$light-black: #404040;
$light-yellow: #FFF5C7;
$light-yellow-hover: #E2D8B0;
$dark-yellow: #DFD15F;
$dark-yellow-hover: #C9BC56;
$orange: #DF9E4E;
$orange-hover: #C88D46;
$light-blue: #D0D0FF;
$light-blue-hover: #BEBEE9;
$purple: #A9AEFF;
$purple-hover: #9A9FE9;
$red: #F55;
$red-hover: #E14B4B;
$none-color: #CDD2CB;
$none-color-hover: #B9BEB8;
