
@import 'global';

h1,
h2,
h3 {
    text-align: center;
    margin: 10px 0;
}

.one-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.flex-centered {
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-base {
    align-items: baseline;
    justify-content: space-around;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.underline {
    position: relative;
}

.underline:after {
    @include gradient(255, 255, 255, 0.3);
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
}

.chalk-bg {
    @include fixed100();
    background: url('../../img/chalkboard-pattern.png');
    z-index: -1;
    opacity: 0.5;
}

.header {
    height: 3rem;
    border-bottom: $white 2px solid;
    font-size: 1.5rem;

    .left,
    .right {
        margin: 0.3rem;
    }

    button {
        @include btn-header();
    }
}
