
h1, h2, h3 {
    text-align: center;
}

.one-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.flex-base {
    align-items: baseline;
    justify-content: space-around;
}

.relative {
    position: relative;
}