@mixin radial-gradient($from, $to) {
    background: -webkit-radial-gradient(center, ellipse cover, $from 31%, $to 100%);
    background: -moz-radial-gradient(center, ellipse cover, $from 31%, $to 100%);
    background: -ms-radial-gradient(center, ellipse cover, $from 31%, $to 100%);
    background: -o-radial-gradient(center, ellipse cover, $from 31%, $to 100%);
    background: radial-gradient(center, ellipse cover, $from 31%, $to 100%);
}

@mixin gradient($r, $g, $b, $a) {
    background-image: -webkit-linear-gradient(left, transparent, rgba($r, $g, $b, $a) 50%, transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba($r, $g, $b, $a) 50%, transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba($r, $g, $b, $a) 50%, transparent);
    background-image: -o-linear-gradient(left, transparent, rgba($r, $g, $b, $a) 50%, transparent);
}

@mixin fixed100 () {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin btn ($bg, $hover, $text) {
    background-color: $bg;
    color: $text;
    outline: 0;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.10), 0 4px 15px 0 rgba(0, 0, 0, 0.07);
    transition: 0.3s linear all;

    &:hover {
        background-color: $hover;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
}

@mixin btn-md ($bg, $hover, $text) {
    @include btn($bg, $hover, $text);

    height: 3rem;
    line-height: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
}
