
@import 'global';

body {
    @include radial-gradient($green, $dark-green);

    font-family: 'Architects Daughter', Tahoma, sans-serif;
    color: $white;
    font-size: 16px;
    letter-spacing: 0.05rem;
}

.text-center {
    text-align: center;
}
