@import '../main/global';

.card-edit-btn-save {
    background-color: $save-btn;
}

.card-edit-btn-delete {
    background-color: $delete-btn;
}

.card-edit-btn-cancel {
    background-color: $cancel-btn;
}
