@import '../main/global';

.card-edit-container {
    width: 30rem;
    border: 1px solid $black;
    padding: 2rem;
    background-color: $white;
    color: $black;
    font-size: 1.5rem;

}

.card-edit-label {
    width: 30%;
    display: inline-block;
}

.card-edit-field-container {
    margin: 2px 0;
}

.card-edit-input-text {
    width: 70%;
    display: inline-block;

    input {
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;
        padding: 0.3rem;
        font-family: inherit;
    }
}

.card-edit-btn-container {
    text-align: center;
}

.card-edit-btn {
    margin: 0.2rem;
}

.card-edit-btn-save {
    @include btn-md($semi-light-green, $light-green, $black);
}

.card-edit-btn-delete {
    @include btn-md($red, $red-hover, $white);
}

.card-edit-btn-cancel {
    @include btn-md($none-color, $none-color-hover, $black);
}
